body
{
	margin: 0px;
	color: #f0f5f7;
	background-color: black;
	font-size: 20px;
	font-family: "Oxanium";
	line-height: 28px;
}

.navBar
{
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 100px;
	list-style-type: none;
	overflow: hidden;
	background-image: url("navBarBG.jpg");
	background-size: cover;
}
.navLi
{
	float: left;
	width: calc(100% / 4);
	height: 75px;
}
.navLi a
{
	padding-top: 18px;
	margin: 5px;
	height: 46.5px;
	color: white;
	display: block;
	font-family: "Kelly Slab";
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-shadow: 2px 2px 4px white;
	letter-spacing: 2px;
}
.navLi a:hover:not(.selected)
{
	color: black;
	background-color: rgba(255, 255, 255, 0.3);
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.3);
}
.selected
{
	background-color: rgba(255, 255, 255, 0.4);
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.4);
}
.selected:hover
{
	color: black;
	background-color: rgba(255, 255, 255, 0.4);
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.4);
}

#ovImg1
{
	width: 400px;
	position: absolute;
	margin-top: -90px;
	margin-left: 10px;
}

#ovP1
{
	margin-top: -16px;
	margin-left: 425px;
}

#ovImg2
{
	width: 100%;
	/* box-shadow: inset 0px -32px 16px -16px black; */
	box-shadow: 0px 10px 12px 2px #0a1020;
}

#ovP2
{
	margin-top: 100px;
	margin-left: 125px;
	padding: 30px;
	width: 240px;
	height: 250px;
	border: 2px solid rgba(211, 223, 229, 0.8);
	border-radius: 8px;
	text-align: center;
	box-shadow: inset 0px 0px 8px 2px #d3dfe5;
}

#ovImg3
{
	float: right;
	margin-top: -315px;
	margin-right: 175px;
}