body
{
	margin: 0px;
	color: #f0f5f7;
	background-color: black;
	font-size: 20px;
	font-family: "Oxanium";
	line-height: 28px;
	height: 4090px
}

.navBar
{
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 100px;
	list-style-type: none;
	overflow: hidden;
	background-image: url("navBarBG.jpg");
	background-size: cover;
}
.navLi
{
	float: left;
	width: calc(100% / 4);
	height: 75px;
}
.navLi a
{
	padding-top: 18px;
	margin: 5px;
	height: 46.5px;
	color: white;
	display: block;
	font-family: "Kelly Slab";
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-shadow: 2px 2px 4px white;
	letter-spacing: 2px;
}
.navLi a:hover:not(.selected)
{
	color: black;
	background-color: rgba(255, 255, 255, 0.3);
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.3);
}
.selected
{
	background-color: rgba(255, 255, 255, 0.4);
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.4);
}
.selected:hover
{
	color: black;
	background-color: rgba(255, 255, 255, 0.4);
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.4);
}

#logo
{
	width: 400px;
	position: absolute;
	margin-top: -90px;
	margin-left: 10px;
}


#ovP1
{
	margin-top: -16px;
	margin-left: 425px;
}

#ovImg1
{
	width: 100%;
	/* box-shadow: inset 0px -32px 16px -16px black; */
	box-shadow: 0px 10px 12px 2px #0a1020;
}

#ovP2
{
	margin-top: 175px;
	margin-left: 250px;
	padding: 30px;
	width: 240px;
	height: 250px;
	border: 2px solid #1d283c;
	border-radius: 8px;
	text-align: center;
	box-shadow: inset 0px 0px 12px 8px #1d283c;
}

#ovImg2
{
	float: right;
	margin-top: -350px;
	margin-right: 150px;
	border-radius: 8px;
	box-shadow: 0px 0px 12px 8px #1d283c;
}

#ovImg3
{
	width: 1200px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 160px;
	border-radius: 12px;
	box-shadow: 0px 0px 12px 16px #1d283c;
	background-image: url("gameplay.png");
}
#ovP3
{
	position: absolute;
	width: 325px;
	margin-top: 375px;
	margin-left: 50px;
	padding: 15px 10px 15px 10px;
	color: black;
	background-color: rgba(226, 210, 167, 0.5);
	border-radius: 16px;
	box-shadow: 0px 0px 8px 8px rgba(226, 210, 167, 0.5);
	text-align: center;
	font-weight: 1000;
}

#ovP4-1
{
	text-align: center;
	width: 425px;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 16px;
	background-color: #1d283c;
	box-shadow: 0px 0px 8px 16px #1d283c;
}
#ovImg4
{
	width: 800px;
	margin-left: calc(50% - 400px);
	margin-top: -10px;
	border-radius: 8px;
	box-shadow: 0px 0px 8px 16px #1d283c;
}
#ovP4-2
{
	text-align: center;
	width: 425px;
	margin-top: -20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 16px;
	background-color: #1d283c;
	box-shadow: 0px 0px 8px 16px #1d283c;
}

#ovP5
{
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 600px;
	border: 2px solid #1d283c;
	border-radius: 8px;
	text-align: center;
	box-shadow: inset 0px 0px 12px 8px #1d283c;
}

#ovImg5
{
	position: absolute;
	margin-top: 50px;
	width: 100%;
	/* box-shadow: inset 0px 0px 16px 24px #0a1020; */
	box-shadow: 0px -16px 12px 4px #1d283c;
}
#ovP6
{
	position: absolute;
	width: 325px;
	margin-left: 150px;
	margin-top: 550px;
	background-color: rgba(29, 40, 60, 0.5);
	border-radius: 16px;
	box-shadow: 0px 0px 8px 8px rgba(29, 40, 60, 0.5);
	text-align: center;
}

#download
{
	position: absolute;
	margin-left: 975px;
	margin-top: 550px;
	padding: 35px 10px 35px 10px;
	display: block;
	width: 250px;
	color: white;
	background-color: #1d283c;
	text-align: center;
	text-decoration: none;
	font-size: 40px;
	font-family: "Kelly Slab";
}


#gpP1
{
	width: 800px;
	margin-top: -30px;
	margin-left: 475px;
	text-align: center;
}

#gpImg1
{
	width: 1000px;
	height: 400px;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 0px 50px 0px;
	border-radius: 16px;
	box-shadow: inset 0px 0px 12px 16px #1d283c;
}
#gpImg1-1
{
	margin-top: 25px;
	margin-left: 50px;
	width: 300px;
}
#gpImg1-2
{
	margin-top: 25px;
	margin-left: 25px;
	width: 300px;
}
#gpImg1-3
{
	margin-right: 65px;
	height: 350px;
	float: right;
}
#gpP2
{
	margin-top: 50px;
	text-align: center;
}